.line{
    width: 140px;
}
.build1>i{
    font-size: 40px;
    color: grey;
}
.paras-one{
    color: rgb(121, 117, 117);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
}
.build1{
    text-decoration: none;

}
.main-div{
    display: flex;
    justify-content: space-between;
}
