/* .line1{
    width: 140px;
}
.buildings1>i{
    font-size: 40px;
    color: grey;
}
.para-one1{
    color: rgb(121, 117, 117);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
} */


.division2{
    /* width: 100%; */
    overflow: hidden;
    min-height: 16em;

    text-align: center;
    /* display: flex;
    justify-content: space-between;
    align-items: space-between; */
}


.buildings {
    font-size: 40px;
    
    color:rgb(143, 134, 134);
    text-align: center;
    /* margin-left: 1.25em; */
    
  
    /* text-decoration: underline; */
}
 
.para-one  {
    color: rgb(121, 117, 117);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    /* text-align: center; */
    /* margin-left: 2.3em; */
    /* margin-bottom: 0; */
    /* display: flex;
    justify-content: center; */
    
}

.para-one a{
    text-decoration: none;
    color: rgb(121, 117, 117);
    
}
.line3{
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: right;
    text-align: right; */
   
}
.center1{
    display: flex;
    justify-content: center;
    align-items: center;
} 
 .change{
    margin-left: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;

} 
/* .under{
    border-bottom: 1px solid rgb(131, 69, 69);
} */