
.media_head2{
    width: 100%;
     padding: 0;
     height: 6em;   
 }
.hamburg2_media{
 /* background-color:silver; */
 /* border: 1px solid rgb(211, 52, 52) ; */
 border-radius: 5px;
 font-size: large;
}
.menus_media{
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
} 
.menus_media> .media_links1{
    text-decoration: none;
}
.media_links1{
    color: #777;
    text-decoration:none;
    margin-left: 20px;
}
.search_btn{
    height: 33px;
    width: 25%;
    align-items: center;
}
.media_links1:hover{
    color: rgb(236, 14, 14);
}
