/* body {
    background-image: url(https://www.somanyceramics.com/pub/media/catalogbg/default/tilepattern.jpg);
    background-repeat: repeat-x;
    width: 100%;
    background-attachment: fixed;
} */