.main-section{
    background-image: url(https://www.somanyceramics.com/pub/media/catalogbg/default/tilepattern.jpg);
    background-repeat: repeat-x;
    width: 100%;
    background-attachment: fixed;
}
.header-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:6em ;
    color: #999;
    font-weight: 400;
}
.head-tag1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    

}
.head-tag2{
    display: flex;
    align-items: flex-end;
    align-items: flex-end;
    

}

.home1,.tiles1{
    text-decoration: none;
    color: #111;
    /* margin-right: 5px;
    margin-left: 5px; */
    padding-left: 7px;
    padding-right: 5px;
    color: #999;
    font-weight: 400;
    
}
.tile-header-tag{
    color: rgb(75, 73, 73);

}
.para-tile1{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(112, 109, 109);
    text-align: justify;

}

