.media_header2{
    background-color: #172f3a;
    padding: 20px 0;
    width: 100%;

}
.media_h2{
    color: #fff;
    font-size: 24px;
    font-weight: 450;
    padding-top: 15px;
}
.media_row1{
   
    margin-left: 10px;
}
.media_link {
    color:#fff;
    text-decoration: none;
    font-weight: 400px;
    font-size: 18px;
}
.media_link>i{
    padding-top: 15px;
}
.media_link:hover{
    text-decoration: none;
}